<div class="vehicle bg-success row text-center">
  <div class="col-md-6">
    <div>
      <i class="fa fa-car fa-2x" aria-hidden="true"></i>
    </div>
    <div>{{ vehicle.driverName }}</div>
    <div>Posti liberi: <span class="label"
      [ngClass]="{'label-default': vehicle.isFull(), 'label-success': !(vehicle.isFull()) }"
      >{{ vehicle.availableSeats() }}</span></div>
  </div>
  <ul class="pupil-list list-group col-md-6">
    <li *ngFor="let n of vehicle.names" class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{ n }}</li>
    <li *ngFor="let n of vehicle.availableSeatsArray()" class="list-group-item list-group-item-success"><i class="fa fa-check" aria-hidden="true"></i></li>
  </ul>
</div>