<div class="row arrangement">
  <app-vehicle *ngFor="let v of vehicles" class="col-md-4" [vehicle]="v"></app-vehicle>
</div>
<div class="row unallocated text-danger">
  <ul class="list-inline col-md-12 well">
    <li>
      <app-unallocated (click)="go()" [name]="'pippo'"></app-unallocated>
    </li>
    <li>
      <app-unallocated (click)="go()" [name]="'pluto'"></app-unallocated>
    </li>
    <li>
      <app-unallocated (click)="go()" [name]="'topolino'"></app-unallocated>
    </li>
  </ul>
</div>