<h2 class="">Ecco chi guida</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="form-horizontal">

  <div class="form-group has-error has-feedback">
    <label for="name" class="control-label col-md-2">Nome</label>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-fw fa-address-card-o" aria-hidden="true"></i></span>
        <input type="text" id="name" class="form-control" placeholder="Nome" [formControl]="nameCtrl">
      </div>
      <div class="alert alert-danger">
        Indica il nome
      </div>
    </div>
  </div>

  <div class="form-group has-success has-feedback">
    <label for="studentName" class="control-label col-md-2">Nome dello studente</label>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i></span>
        <input type="text" id="studentName" class="form-control" placeholder="Nome dello studente" [formControl]="studentNameCtrl">
      </div>
      <span *ngIf="studentNameCtrl.hasError('required') && studentNameCtrl.touched" class="alert alert-danger">
        Indica il nome dello studente a te associato
      </span>
    </div>
  </div>

  <div class="form-group has-error has-feedback">
    <label for="name" class="control-label col-md-2">Di solito esco di casa alle ore</label>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i></span>
        <input class="form-control" id="defaultExitTime" ng2-datetime-picker time-only="true" [formControl]="defaultExitTimeCtrl">
      </div>
      <div class="alert alert-danger">
        Indica l'orario in cui di solito esci di casa al mattino
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <label *ngFor="let d of getDaysOfWeek(); let i = index">
          <input type="checkbox"
                  [formControl]="this.myForm.controls['wd_' + i]">
            {{d}}
        </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-default">Invia dati</button>
    </div>
  </div>
</form>