<h2 class="">Ecco chi guida</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="form-horizontal">

  <div class="form-group">
    <label for="name" class="control-label col-md-2">Nome</label>
    <div class="col-md-4">
      <input type="text" id="name" class="form-control" placeholder="Nome" [formControl]="myForm.controls['name']">
    </div>
  </div>

  <div class="form-group has-success has-feedback">
    <label for="studentName" class="control-label col-md-2">Nome dello studente</label>
    <div class="col-md-4">
      <input type="text" id="studentName" class="form-control has-error" placeholder="Nome dello studente" [formControl]="myForm.controls['studentName']">
      <i class="glyphicon glyphicon-ok form-control-feedback"></i>
    </div>
    <div *ngIf="myForm.controls['studentName'].hasError('required') && myForm.controls['studentName'].touched" class="col-md-6 alert alert-danger">
      Indica il nome dello studente a te associato
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">Sesso dell'autista</label>
    <div class="col-md-4">
      <label class="radio-inline"><input type="radio" name="optradio">Maschio</label>
      <label class="radio-inline"><input type="radio" name="optradio">Femmina</label>
    </div>
  </div>

  <div class="form-group has-error has-feedback">
    <label for="address" class="control-label col-md-2">Indirizzo del domicilio</label>
    <div class="col-md-4">
      <input type="text" id="address" class="form-control" placeholder="Indirizzo del domicilio" [formControl]="myForm.controls['address']">
      <i class="glyphicon glyphicon-remove form-control-feedback"></i>
    </div>
    <div class="col-md-4 alert alert-danger">
      Indica l'indirizzo del domicilio
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Invia dati</button>
    </div>
  </div>
</form>